body {
  background-color: #222222 !important;
}

.nav {
  background-color: rgba(33, 37, 41, 1);
}

.scroll {
  height: 100%;
}

.fixedPosition {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
}

.offset {
  padding-top: 6rem !important;
}

.gg-menu-round {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border-radius: 24px;
  border: 2px solid;
  color: white;
}
.gg-menu-round::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 3px;
  top: 4px;
  left: 4px;
  box-shadow: 0 4px 0, 0 8px 0;
}

.top-left {
  position: fixed;
  left: 2em;
  top: 2em;
  z-index: 101;
}

.glow {
  opacity: 0.7;
  transition: 0.25s;
}

.glow:hover {
  opacity: 1 !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
